@using Microsoft.AspNet.Identity
@using Padron.Helpers;

<style>
    .left .tc-sidebar {
        background-color: #0a5bad;
    }


    .bg-img {
        /* The image used */
        background-image: url('../../images/feris_navbar.jpeg');
        min-height: 1200px;
        min-width: 100px;
        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        /* Needed to position the navbar */
        position: relative;
        background-color: #0a5bad;
    }

    /* Position the navbar container inside the image */
    .container {
        position: absolute;
        margin: 50px;
        width: auto; 
    }

    /* The navbar */
    .topnav {
        overflow: hidden;
        background-color: #0a5bad;
    }

        /* Navbar links */
        .topnav a {
            float: left;
            color: #0a5bad;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

</style>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @*  <title>@ViewBag.Title - REgistro de electores </title>*@
    <title>Registro de Electores</title>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="page-top">
    @if (Request.IsAuthenticated)
    {

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">Registro de Electores</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>


        @if (User.IsInRole("Administrador"))
        {
            <li class="nav-item active">
                <a class="nav-link" href="/Users/Index">
                    <i class="fas fa-fw fa-user-alt"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PersonasRegistradas/Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Personas registradas</span>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" href="/PersonasRegistradas/MisPersonas">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Personas registradas</span>
                </a>
            </li>
        }
        <!-- Navbar Search -->
        @*<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>*@

        <!-- Navbar -->

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="navbar-nav ml-auto ml-md-0" style="position: absolute; right: 0;     top: 15%;">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @User.Identity.GetNombreCompleto() <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <button type="submit" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Salir</button>
                    </div>
                </li>
            </ul>
        }

    </nav>
    }


    <div id="wrapper">
        @if (Request.IsAuthenticated)
        {


        <!-- Sidebar -->
        <ul class="sidebar navbar-nav" >
            <div class="bg-img">
              
            </div>
        </ul>
        }

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">App</a>
                    </li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
                @RenderBody()

            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Padron 2019</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72762893-4"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-72762893-4');
    </script>

</body>
</html>
