@model IEnumerable<Padron.Models.ContactForm>
@{
    ViewBag.Title = "Mis Personas";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Enlace de invitación
    </div>
    <div class="card-body text-center">
        <span>Para invitar a personas, compartir el siguiente enlace : </span><br />
                                                                              <a href="@ViewBag.UserURL">@ViewBag.UserURL</a>
    </div>
    @*<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>*@
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Personas Inscritas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Cédula", "Index",
                                new { sortOrder = "Cedula", CurrentSort = ViewBag.CurrentSort })
                        </th>
                        <th>
                            @Html.ActionLink("Persona", "Index",
                               new { sortOrder = "FullName", CurrentSort = ViewBag.CurrentSort })
                        </th>
                        <th>
                            @Html.ActionLink("Teléfono", "Index",
                              new { sortOrder = "TelefonoMovil", CurrentSort = ViewBag.CurrentSort })
                        </th>
                        <th>
                            Provincia
                        </th>
                        <th>
                            Municipio
                        </th>
                        <th>
                            Sector
                        </th>
                        <th>
                            Nombre Multiplicador
                        </th>
                        <th>
                            Correo electrónico
                        </th>
                        <th>
                            Colabora en redes?
                        </th>
                        <th>
                            Comentario
                        </th>
                    </tr>
                </thead>
          
           
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefonoMovil)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Provincia.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Municipio)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Sector)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coordinador.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ColaboradorDigitalRedes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comentario)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>*@
</div>



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
     
        });

    </script>
}

